{% extends 'base.html' %}

{% block content %}

{{ price}}

<div class="conainer">
    <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Welcome to CryptoNews</h1>
    <p class="lead">Your source for latest news and blockchain</p>
  </div>
</div>
    <div class="row">
        {% for x in api.Data %}
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <img src={{x.imageurl}} class="card-img-top" alt={{x.title}}>
                <div class="card-body">
                    <h5 class="card-title">{{x.title}}</h5>
                    <p class="card-text">{{x.body}}</p>
                    <a href={{x.url}} class="btn btn-primary" target="_blank">Read More</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}